doctype
html(lang='eng')
  head
    meta(charset='utf-8')
    title react server rendering
    link(href='css/main.css', rel='stylesheet')
  body
    div#app

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src='js/bundle.js')

